.formContainer {
    width: 50%;
    height: 100vh;
    float: left;
    background-color: rgb(233, 233, 233);
}

.formValues {
    width: 50%;
    height: 100vh;
    float: right;
    background-color: lightgray;
}

h1 {
    text-align: center;
}

form {
    position: absolute;
    left: 10%;
    width: 300px;
    min-height: 300px;
    height: fit-content;
    display: block;
    border: 1px solid lightgray;
    padding: 10px;
}

input, textarea, label {
    margin: 5px;
    display: block;
}

.submitButton {
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	cursor:pointer;
	color:#ffffff;
	font-size:18px;
	padding:7px 18px;
	text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    display: block;
    position: absolute;
    left: 20%;
    top: 60%;
}
.submitButton:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}

.lista {
    min-width: 250px;
    width: fit-content;
    height: fit-content;
    border: 1px solid rgb(88, 88, 88);
    margin-left: 10%;
    margin-top: 10px;
    padding: 10px;
}