$formContainerColor1: rgb(0, 168, 150);
$valuesContainerColor1: rgb(22, 195, 154);

$formBgcolor: rgb(2, 128, 144);
$formFontColor: white;

$formBorderColor: black;
$listBorderColor: rgb(88, 88, 88);

$buttonFontColor: #ffffff;
$buttonColor1: linear-gradient( to bottom, #44c767 5%, #5cbf2a 100%);
$borderButtonColor1: #18ab29;
$submitButtonHoverColor1: linear-gradient( to bottom, #53b622 5%, #3bb65c 100%);

$buttonEditColor: rgb(9, 48, 223);
$buttonEditBorderColor: black;
$buttonDeleteColor:  rgb(209, 0, 0);
$buttonDeleteBorderColor: black;

$sendButtonBgColor: rgb(240, 243, 189);
$sendButtonFontColor: rgb(5, 102, 141);
