@import 'colors';
@import 'buttonMixins';

.formValues {
    width: 40%;
    height: 100vh;
    float: right;
    background-color: $valuesContainerColor1;
}

.lista {
    background-color: $listBgColor;
    min-width: 300px;
    width: fit-content;
    height: fit-content;
    border-width: 2px;
    border-style: dashed;
    border-color: $listBorderColor;
    border-radius: 15px;
    margin-left: 20%;
    margin-bottom: 10px;
    padding: 10px;
    display: block;
}

.editButton {
    @include editButton();
}

.deleteButton {
    @include deleteButton();
}

.storageButtons {
    display: block;
    height: 30px;

    .localstorageButton {
        @include storageButton(65%);
    }

    .savetostorageButton {
        @include storageButton(75%);
    }
    .clearStorageButton {
        @include storageButton(85%);
    }
}